# Python Refresher - Interesting notes

## Python Crash Course Section 4

### Crash Course PART I

In [1]:
#Strings 
#This statement will print the String with quotes: 
'Hello'

'Hello'

In [2]:
#This statement will print the String without them 
print('Hello')

Hello

In [5]:
#Print formatting 
num = 12
name = 'Vick'

##Curly braces take the parameters num and name with the specified format
print('My name is {} and I am {}'.format(name, num)) 

##We can declare variables in the .format() method and pass them in whatever order we like
print('Print {one} and {two}'.format(one = '1', two = '2'))

##Using the parameters declared before we can achieve exactly the same: 
print('My name is {one} and I am  {two}'.format(one = name, two = num))

My name is Vick and I am 12
Print 1 and 2
Print Vick and 12

In [29]:
##Indexing String 

s = 'Letter' ##We can slice the above String with the [] indexing operator 

##Indexing starts from 0 

##Print the last element
print(s[5])

##We can obtain slices of the above string using the slicing operator : combined with the indexing operator 
print(s[1:6:2]) ##[start:end:step] -> Grabs everything from the start index up until the end index without including it
                ##We use a th step to do so        

a = 'abcdefghj'

print(a[:3])

r
etr
abc

In [50]:
## List -> Sequence of elements denoted by square brackets[] separated by a comma (of any data type)

myList = ['a', 'b' , 'c']

#To append an element to the end of the list use the append method 

myList.append('d')
print(myList)

['a', 'b', 'c', 'd']

In [51]:
## We can also use the slicing operation in lists! 
myList[0:2]
print(myList)

##Lists are mutable and thus we can reassign elements in our list e.g. 
newElement = 'new'

myList[0] = newElement

print(myList)

['a', 'b', 'c', 'd']
['new', 'b', 'c', 'd']

In [55]:
##We can also have nested lists 
newList = ['target',1]

otherList = [1,2,3,newList]

print(newList)
print(otherList)

['target', 1]
[1, 2, 3, ['target', 1]]

In [56]:
##To access element 0 in otherList we use a nested [][] operator 

print(otherList[3][0])

target

### Crash Course PART II

In [57]:
#Dictionaries -> Use the {key1:value1, key2:value2} syntax to declare a dictionary e.g. 

d = {'key1':2, 'key2':123} ##Dictionaries, just like hash tables use key:value pairs to hold elements. NOT a sequence 

##To access an element in a dictionary you must pass the key corresponding to that value: 

print(d['key2']) #Again, we use the [] operator

123

In [58]:
## If an value of a dictionary is iterable, we can use the correspoding key to that value and the 
## nested [] to obtain values of such iterable. Consider the following example: 

a = {'key1': 'Iterable'}

a['key1'][0] ##Prints I

'I'

In [59]:
##We can also have nested dictionaries and use the [] operator repeatedly to obtain the desired values:
 
k = {'key1':{'innerkey':[1,2,3]}} 

print(k['key1']['innerkey'][2])

##In summary, dictionaries DO NOT have a sequential order -> They are key:value pair mappings

3

In [61]:
##Boolean
##True
print(True)

##False
print(False)

True
False

In [63]:
##Tuples -> Similar to a list, we use () to denote a tuple. Unlike lists, tuples are immutable 
t = (1,2,3)
print(t[0])

1

In [64]:
##Lets test the immutability of tuples 
t[0] =1 ##Throws a TypeError Exception

##Used when we, for example, we want to restrict users of the program from changing values from a sequence of objects.

TypeError: 'tuple' object does not support item assignment

In [72]:
##Sets -> A collection of unique sorted elements - Syntax is similar to a dictionary but we don't use the colon : 

##Lets declare a set by passing a list as a parameter: 

a =[1,2,3,4,5,6,6,6,6,6]
b = set(a)

print(b) ##Returns the unique elements of set a 

##We can also declare an element with the {} syntax

print({1,1,1,1,2,2,2,2,2,3,3,3,3,3,5,5,5,4,9,9,8,1,7})

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 7, 8, 9}

In [75]:
###Set defines the .add() method 

b.add(10)
print(b)

##We can add repeated items without any effect 
b.add(1)
print(b)

##Sets WILL NOT be used in this course

{1, 2, 3, 4, 5, 6, 10}
{1, 2, 3, 4, 5, 6, 10}

In [77]:
##Comparison operators - Allow you to compare two things to each other

1>2 ##Returns false because 1 is not greater than 2

False

In [78]:
1<2 #Returns true

True

In [80]:
1 == 1 ##Equality

True

In [81]:
1!=4

True

In [82]:
##We can also use strings with comparison operators 

'hi' == 'bye'

False

In [83]:
## We can also chain comparison operators with boolean operators 

1<2 and 2>3 ##and

False

In [84]:
1<2 or 2>3 ##or

True

In [86]:
##Code blocks: if, elif and else statements 
##Lots of times we want to execute code only if a condition is true -> Use if, elif and else statements

if 1<2:  ##Don't forget the colon!
    print('yep!') ##Python uses whitespace to separate code blocks. Not curly braces {}


x = 0;

if True:
    x += 2

print(x)

if False:
    x -= 2 ##Not executed

print(x)

yep!
2
2

In [89]:
##Checking for multiple conditions with else

if 1==2: ##False
    print('First')
else:    ##Execute the statement in the else block regardless of the result above 
    print('Last')
    
##We used elif to add multiple conditions 
if 1==2:
    print('First')
elif 1==1:
    print('Middle') ##Since this condition is true, execute this statement
else: 
    print('Last')

Last
Middle