# Section 26: Python for Deep Learning

# 03 - TensorFlow Estimators

In [1]:
### Tensorflow has an estimator object you can use to quickly create models without needing 
### to manually define the graph as we did before. -> Making a graph manually can be compliocated
### and thus we use estimators to make the model building process faster. 

### Estimator steps: -> Similar to sci-kit learn workflow
### - Read in the Data (Normalize if necessary)
### - Train/Test split the data 
### - Create Estimator Feature Columns -> A list of specialized feature columns 
### - Create Input Estimator Function  -> A way of organizing your training data 
### - Train estimator model 
### - Predict with new test Input Function

In [3]:
### ---------------------------- 1. READ-IN THE DATA -------------------------------
### Imports and getting the data 
import pandas as pd 
df = pd.read_csv('iris.csv')
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,0.2,0.0
4,5.0,3.6,1.4,0.2,0.0

In [4]:
### To use TF estimator objects we need to: 
                                    # -Clean the column names -> No special characters or spaces on them 
                                    # -Target for classification must be an integer -> Target is float now
df.columns

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)', 'target'],
      dtype='object')

In [5]:
### Lets deal with the column names first, we rename as follows:
df.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'target']

In [6]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width  target
0           5.1          3.5           1.4          0.2     0.0
1           4.9          3.0           1.4          0.2     0.0
2           4.7          3.2           1.3          0.2     0.0
3           4.6          3.1           1.5          0.2     0.0
4           5.0          3.6           1.4          0.2     0.0

In [7]:
### Now, lets change the data type of the target column 
df['target'] = df['target'].apply(int)

In [8]:
df.head() ## All set, features can be floats!

   sepal_length  sepal_width  petal_length  petal_width  target
0           5.1          3.5           1.4          0.2       0
1           4.9          3.0           1.4          0.2       0
2           4.7          3.2           1.3          0.2       0
3           4.6          3.1           1.5          0.2       0
4           5.0          3.6           1.4          0.2       0

In [10]:
y = df['target']
X = df.drop('target', axis = 1)

In [12]:
y[0:10] ### To train and test we must shuffle, otherwise we will be feeding certain classes more frequently

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
Name: target, dtype: int64

In [14]:
X.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [18]:
### ---------------------------- 2. TRAIN-TEST SPLIT -------------------------------
### Lets split our data into train/test sets: 
##Imports 
from sklearn.model_selection import train_test_split

In [16]:
train_test_split = X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [17]:
### Using Tensorflow
import tensorflow as tf

In [22]:
### ---------------------------- 3. CREATING FEATURE COLUMNS ------------------------------
### Creating the feature columns: 

### We are working with numeric columns, thus we call the numeric column method 
feats_cols = []
for col in X.columns:
    feats_cols.append(tf.feature_column.numeric_column(col))

In [25]:
### We obtain a list of specialized numeric column objects where heir key syncs with 
### the declared pandas DataFrames
feats_cols

[NumericColumn(key='sepal_length', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 NumericColumn(key='sepal_width', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 NumericColumn(key='petal_length', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 NumericColumn(key='petal_width', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None)]

In [40]:
### ---------------------------- 3. CREATING INPUT ESTIMATOR FUNCTIONS -----------------------------

##Returns an input function that will feed a pd DataFrame into the model

##tf common error -> Empty predictions
##Need to tune batch size
##num_epochs -> In each epoch you get to see the whole training set -> When we reach the num_epochs limit we will
##have trained the estimator object completely 

input_func = tf.estimator.inputs.pandas_input_fn(x =X_train, y = y_train, 
                                                 batch_size = 10, num_epochs = 5, shuffle = True)
## Classifier estimator 
## hidden units -> Pass in a list with number of neurons per layer
## n_classes = 3 -> We have three target values 
## Feature columns -> List of numeric columns created before

classifier = tf.estimator.DNNClassifier(hidden_units=[10,20,10], n_classes = 3, feature_columns = feats_cols)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /tmp/tmpcesb_oyi
INFO:tensorflow:Using config: {'_model_dir': '/tmp/tmpcesb_oyi', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': allow_soft_placement: true
graph_options {
  rewrite_options {
    meta_optimizer_iterations: ONE
  }
}
, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_protocol': None, '_eval_distribute': None, '_experimental_distribute': None, '_experimental_max_worker_delay_secs': None, '_session_creation_timeout_secs': 7200, '_service': None, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x7fd8f2f308d0>, '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

In [41]:
### ---------------------------- 4. TRAINING THE CLASSIFIER -----------------------------
classifier.train(input_fn = input_func, steps = 50)

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Saving checkpoints for 0 into /tmp/tmpcesb_oyi/model.ckpt.
INFO:tensorflow:loss = 9.73947, step = 1
INFO:tensorflow:Saving checkpoints for 50 into /tmp/tmpcesb_oyi/model.ckpt.
INFO:tensorflow:Loss for final step: 0.9795073.

In [42]:
### ---------------------------- 5. TESTING THE CLASSIFIER ------------------------
pred_func = tf.estimator.inputs.pandas_input_fn(x =X_test, batch_size = len(X_test), shuffle = False)

##Outputs a generator -> Cast a list if you are not going
##                       to iterate through the list. 

predictions = list(classifier.predict(input_fn = pred_func))

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from /tmp/tmpcesb_oyi/model.ckpt-50
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.

In [43]:
predictions ## Lost of info here

[{'logits': array([-0.4300766,  3.425398 ,  0.4841894], dtype=float32),
  'probabilities': array([0.01970599, 0.9311287 , 0.04916533], dtype=float32),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([-1.4666828,  3.1826391,  4.197844 ], dtype=float32),
  'probabilities': array([0.00253829, 0.2652874 , 0.73217434], dtype=float32),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([ 4.736955 , -1.6508582, -3.201774 ], dtype=float32),
  'probabilities': array([9.9796557e-01, 1.6785078e-03, 3.5593382e-04], dtype=float32),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([-1.7188708,  3.6405404,  4.980993 ], dtype=float32),
  'probabilities': array([0.00097476, 0.20723346, 0.7917918 ], dtype=float32),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([ 3.8918662, -1.2419163, -2.7369928], dtype=float32),
  'probabilities': array([0.9928358, 0.005852 , 0.0013122], dtype=float32),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([ 4.1826377, -1.4279127, -2.8463209], dtype=float32),
  'probabilities': array([9.9547571e-01, 3.6425001e-03, 8.8184618e-04], dtype=float32),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([-1.51172  ,  3.2271116,  4.3089933], dtype=float32),
  'probabilities': array([0.00220988, 0.25259063, 0.7451995 ], dtype=float32),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([-1.7436343,  2.6956027,  5.5155277], dtype=float32),
  'probabilities': array([6.6366891e-04, 5.6219578e-02, 9.4311678e-01], dtype=float32),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([-0.93426204,  3.5763004 ,  2.0375407 ], dtype=float32),
  'probabilities': array([0.00896861, 0.8159006 , 0.17513075], dtype=float32),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([-0.7819767,  2.9129665,  1.6442931], dtype=float32),
  'probabilities': array([0.01902592, 0.7656656 , 0.21530853], dtype=float32),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([ 4.969547 , -1.6987817, -3.3745034], dtype=float32),
  'probabilities': array([9.9849391e-01, 1.2686074e-03, 2.3744901e-04], dtype=float32),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([-0.593573  ,  3.4736037 ,  0.81819546], dtype=float32),
  'probabilities': array([0.01574925, 0.91962826, 0.0646224 ], dtype=float32),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([-1.5191312,  2.4123147,  4.7470665], dtype=float32),
  'probabilities': array([0.00172875, 0.08813281, 0.9101385 ], dtype=float32),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([-1.1938732,  3.1566448,  3.1324854], dtype=float32),
  'probabilities': array([0.00648564, 0.5027576 , 0.4907568 ], dtype=float32),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([ 4.255388, -1.328898, -2.997414], dtype=float32),
  'probabilities': array([9.9555522e-01, 3.7397353e-03, 7.0503959e-04], dtype=float32),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([-1.7655562,  3.0378091,  5.295626 ], dtype=float32),
  'probabilities': array([7.7594991e-04, 9.4603844e-02, 9.0462017e-01], dtype=float32),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([-0.6761026,  3.7732449,  0.9707315], dtype=float32),
  'probabilities': array([0.0108978 , 0.93253696, 0.05656528], dtype=float32),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([ 0.3468141 ,  2.3841522 , -0.18337868], dtype=float32),
  'probabilities': array([0.10800705, 0.8284318 , 0.06356122], dtype=float32),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([ 5.4538684, -1.9394398, -3.6006167], dtype=float32),
  'probabilities': array([9.99268353e-01, 6.14906661e-04, 1.16780175e-04], dtype=float32),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([ 5.612763 , -2.0397837, -3.7003107], dtype=float32),
  'probabilities': array([9.9943525e-01, 4.7456508e-04, 9.0185757e-05], dtype=float32),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([ 0.1978178 ,  2.986403  , -0.11498903], dtype=float32),
  'probabilities': array([0.05558832, 0.90375495, 0.04065681], dtype=float32),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([-1.7275094,  2.9286628,  5.287437 ], dtype=float32),
  'probabilities': array([8.2008913e-04, 8.6300038e-02, 9.1287982e-01], dtype=float32),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([ 4.072154 , -1.265328 , -2.8839912], dtype=float32),
  'probabilities': array([9.9427235e-01, 4.7804238e-03, 9.4730506e-04], dtype=float32),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([ 4.333303 , -1.4618814, -2.965486 ], dtype=float32),
  'probabilities': array([9.9629515e-01, 3.0308992e-03, 6.7385152e-04], dtype=float32),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([ 4.816656 , -1.6742018, -3.2546637], dtype=float32),
  'probabilities': array([9.9817371e-01, 1.5144756e-03, 3.1180034e-04], dtype=float32),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([-1.049352 ,  3.5348754,  2.5377765], dtype=float32),
  'probabilities': array([0.00740424, 0.7250791 , 0.26751664], dtype=float32),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([-0.737758 ,  4.050944 ,  1.1417795], dtype=float32),
  'probabilities': array([0.00783111, 0.9408713 , 0.05129749], dtype=float32),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([-1.541887,  2.696307,  4.566927], dtype=float32),
  'probabilities': array([0.00192275, 0.13321337, 0.8648639 ], dtype=float32),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([-1.6418293,  3.5306332,  4.8185596], dtype=float32),
  'probabilities': array([0.0012245 , 0.21593924, 0.78283626], dtype=float32),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([ 4.718532 , -1.610636 , -3.2080326], dtype=float32),
  'probabilities': array([9.9786013e-01, 1.7797000e-03, 3.6025199e-04], dtype=float32),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([ 4.4778714, -1.4902476, -3.1019428], dtype=float32),
  'probabilities': array([9.9693966e-01, 2.5512185e-03, 5.0909346e-04], dtype=float32),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([-1.3173577,  4.1415887,  3.3494086], dtype=float32),
  'probabilities': array([0.00292224, 0.6862879 , 0.3107899 ], dtype=float32),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([-0.8986883,  3.47152  ,  1.8662728], dtype=float32),
  'probabilities': array([0.01042334, 0.82407045, 0.16550623], dtype=float32),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([-0.6719746,  3.3286202,  1.0800487], dtype=float32),
  'probabilities': array([0.01628747, 0.88979477, 0.09391776], dtype=float32),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([ 4.9528036, -1.7076452, -3.3679645], dtype=float32),
  'probabilities': array([9.9847835e-01, 1.2786227e-03, 2.4303839e-04], dtype=float32),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([-1.6609678,  3.9700139,  4.737832 ], dtype=float32),
  'probabilities': array([0.001135  , 0.3165915 , 0.68227345], dtype=float32),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([-1.3956302,  3.1108334,  3.9508007], dtype=float32),
  'probabilities': array([0.0033172 , 0.3005414 , 0.69614136], dtype=float32),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([-1.4698865,  4.154496 ,  3.8286858], dtype=float32),
  'probabilities': array([0.00209138, 0.57952505, 0.4183835 ], dtype=float32),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([-1.6250203,  3.9210703,  4.5995727], dtype=float32),
  'probabilities': array([0.0013119 , 0.33615404, 0.662534  ], dtype=float32),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([-1.5170082,  2.6001732,  4.6121755], dtype=float32),
  'probabilities': array([0.00191774, 0.11772231, 0.8803599 ], dtype=float32),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([-1.676707 ,  2.9438303,  5.068246 ], dtype=float32),
  'probabilities': array([0.00105008, 0.10663421, 0.8923157 ], dtype=float32),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([-1.6417167,  3.449267 ,  4.7589355], dtype=float32),
  'probabilities': array([0.00130585, 0.21226476, 0.7864294 ], dtype=float32),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([-1.1420715,  3.6055849,  2.864339 ], dtype=float32),
  'probabilities': array([0.00583897, 0.6733136 , 0.32084733], dtype=float32),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([-0.87630963,  4.041125  ,  1.6382399 ], dtype=float32),
  'probabilities': array([0.0066661 , 0.9109339 , 0.08239999], dtype=float32),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([ 4.5669026, -1.5169537, -3.1462753], dtype=float32),
  'probabilities': array([9.9728107e-01, 2.2731717e-03, 4.4568404e-04], dtype=float32),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)}]

In [44]:
## Obtaining the final predictions 
final_preds = []

for pred in predictions:
    final_preds.append(pred['class_ids'][0])

In [45]:
from sklearn.metrics import classification_report, confusion_matrix

In [46]:
print(confusion_matrix(y_test, final_preds))
print(classification_report(y_test, final_preds))

[[14  0  0]
 [ 0 13  0]
 [ 0  3 15]]
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        14
           1       0.81      1.00      0.90        13
           2       1.00      0.83      0.91        18

    accuracy                           0.93        45
   macro avg       0.94      0.94      0.94        45
weighted avg       0.95      0.93      0.93        45