# Section 5: Python for Data Analysis - Pandas

# 01 - Series

In [1]:
### First main data type in pandas - Very similar to a numpy array - In fact, it is buily upon one. 
### Difference: Series can have access lables and thus can be indexed through labels

##Importing numpy and pandas 

import numpy as np 
import pandas as pd

In [2]:
labels = ['A', 'B', 'C']

my_data = [10,20,30]

arr = np.array(my_data)
d = {'A':10, 'B':20, 'C':30}

In [3]:
pd.Series(data = my_data) ##We have an index 0,1,2 - Pandas series -> We can specify what we want the index to be

0    10
1    20
2    30
dtype: int64

In [4]:
pd.Series(data = my_data, index = labels) ##Now we have a labeled indexed series -> This cannot be done in numpy
                                          ##We can select data based on these indices/labels

A    10
B    20
C    30
dtype: int64

In [5]:
## We can also pass a np array to create a Series

pd.Series(arr, labels) ##No need to use the = operator

A    10
B    20
C    30
dtype: int64

In [6]:
### Finally, we can pass a dictionary where the keys will be the indices of the Series and the values will be the 
### data from the Series 

d

{'A': 10, 'B': 20, 'C': 30}

In [7]:
pd.Series(d)

A    10
B    20
C    30
dtype: int64

In [8]:
###Pandas series can also hold other object types such as:

##String 
pd.Series(data = labels)

0    A
1    B
2    C
dtype: object

In [9]:
##We can also pass in built-in functions! -> Not commnonly used. Demonstrates the flexibility of pandas series
pd.Series(data = [sum, print, len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [10]:
## The key to using a series is to understand its index. Allow for fast lookups of information 

ser1 = pd.Series([1,2,3,4], ['USA', 'GERMANY', 'USSR', 'JAPAN'])
ser2 = pd.Series([1,2,5,4], ['USA', 'GERMANY', 'ITALY', 'JAPAN'])

In [13]:
ser1

USA        1
GERMANY    2
USSR       3
JAPAN      4
dtype: int64

In [14]:
ser2

USA        1
GERMANY    2
ITALY      5
JAPAN      4
dtype: int64

In [15]:
##We can select data similarly as we did with dictionaries. 
ser1['USA']

1

In [16]:
##Index data types might vary! We can also pass ints to select data from our series 

ser3 = pd.Series(data = labels)
ser3[0]

'A'

In [17]:
##Series operations - Done based on the indices, e.g. 

ser1 + ser2 ## NAN is output where no common indices are found. Otherwise addition is performed and output as a float.
            ## This is done to avoid information loss. - Pandas and numpy will always convert to float with this purpose.

GERMANY    4.0
ITALY      NaN
JAPAN      8.0
USA        2.0
USSR       NaN
dtype: float64